* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  padding: 2rem;
  max-width: 800px;
  background-color: #333;
  border-radius: 10px;
}
main > h1 {
  font-family: 3rem;
  margin-bottom: 2rem;
}

main #search-form form {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
}
main #search-form input {
  height: 32px;
  border-radius: 5px;
  border: none;
  width: 100%;
  flex: 1;
  padding: 0 10px;
  font-size: 16px;
}

#button-localizacao {
  background-color: green;
  color: white;
  border: none;
  padding: 0rem 1rem;
  height: 32px;
  border-radius: 5px;
}
#tempo-info {
  display: flex;
  align-items: cente;
  justify-content: space-between;
}
.tempo-dados h2 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0.2rem;
}
.tempo-dados span {
  font-size: 3rem;
  font-weight: bold;
}
